node_modules
node_modules_linux
vcap-local.js
credentials.json
localdev-config.json
*.log
old
logs
.config.nodes.json
.config.runtime.json
.config.users.json
.config.users.json.backup
*.backup


#openshift/crt-secret.cmd 
#openshift/login.cmd 
#openshift/secret-github-basicauth.yaml 

openshift/cred/secret-github-basicauth.yaml
openshift/cred/login.cmd 
